@import url('https://fonts.googleapis.com/css?family=Arimo|Pacifico&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Arimo', sans-serif;
  height: 1500px;
}


.bgc-op\(white\) {
  background-color: rgba(255, 255, 255, 0.7);
}

.bgc-op\(black\) {
  background-color: rgba(68, 56, 56, 0.7);
}

.bgc\(white\) {
  background-color: rgb(255, 255, 255);
}

.bgc\(l-pink\) {
  background-color: rgb(165, 22, 158);
}

.pos\(f\) {
  position: fixed;
  z-index: 5;
}

.pos\(a\) {
  position: absolute;
}

.pos\(r\) {
  position: relative;
}

.w\(100\%\) {
  width: 100%;
}

.w\(90\%\) {
  width: 90%;
}

.w\(50\%\) {
  width: 50%;
}

.w\(30\%\) {
  width: 30%;
}

.w\(10px\) {
  width: 20px;
}

.h\(100\%\) {
  height: 100%;
}

.h\(60\%\) {
  height: 60%;
}

.h\(75\%\) {
  height: 75%;
}

.h\(35px\) {
  height: 35px;
}

.h\(10px\) {
  height: 20px;
}

.h\(70px\) {
  height: 70px;
}

.d\(in-flex\) {
  display: inline-flex;
}

.d\(flex\) {
  display: flex;
}

.f-dir\(col\) {
  flex-direction: column;
}

.f-dir\(row\) {
  flex-direction: row;
}

.just-cont\(sp-between\) {
  justify-content: space-between;
}

.just-cont\(center\) {
  justify-content: center;
}

.al-s\(center\) {
  align-self: center;
}

.al-items\(center\) {
  align-items: center;
}

.t-al\(center\) {
  text-align: center;
}

.f\(r\) {
  float: right;
}

.p\(left\:15px\) {
  padding-left: 15px;
}

.p\(top\:10px\) {
  padding-top: 10px;
}

.m-t\(20\%\) {
  margin-top: 20%;
}

.m-t\(10px\) {
  margin-top: 10px;
}

.m-t\(20px\) {
  margin-top: 20px;
}

.m-r\(10px\) {
  margin-right: 10px;
}

.m-b\(10px\) {
  margin-bottom: 10px;
}

.abs-center {
  top: 0;
  bottom: 0;
  margin: auto;
  left: 0;
  right: 0;
}

.font\(logo\) {
  font-family: 'Pacifico', cursive;
  font-size: 2.2rem;
  color: rgb(165, 22, 158);
}

.fs\(1\.1rem\) {
  font-size: 1.1rem;
}

.fs\(0\.8rem\) {
  font-size: 0.8rem;
}

.Form input {
  font-size: 1.2rem;
}

.errorMes {
  color: red;
}

.color\(lobster-pink\) {
  color: rgb(172, 8, 163);
}

.color\(nrw\) {
  color: rgb(245, 236, 236);
}

.fw\(600\) {
  font-weight: 600;
}

.pointer:hover {
  color: rgb(245, 245, 245);
  cursor: pointer;
}

.shad\(l-pink\):hover {
  box-shadow: 20px 20px 20px rgba(165, 22, 158, 0.22);
	-moz-box-shadow: 0px 0px 15px rgba(165, 22, 158, 0.8);
	-webkit-box-shadow:  0px 0px 15px rgba(165, 22, 158, 0.8);
}

.bord\(none\) {
  border: none;
}

.bord\(bot\) {
  border-bottom: 1.1px solid rgb(165, 22, 158);
}

.bord\(l-pink\) {
  border: 1px solid rgb(165, 22, 158);
}

.bord\(round\) {
  border-radius: 100px;
}

.submit {
  border-radius: 25px;

}

.select-off {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

.o-line\(none\) {
  outline: none;
}

.image-land {
  max-width: 100%;
  height: auto;
  width: auto;
  opacity: 0.8;
  transition: all 1s linear;
}

.image-land:hover {
  opacity: 1;
}

@media (max-width: 600px) {
  .w\(30\%\) {
    width: 100%;
  }

  .h\(60\%\) {
    height: 100%;
  }
}

@media (max-width: 768px) {
  .w\(30\%\) {
    width: 80%;
  }

  .h\(60\%\) {
    height: 80%;
  }

  .m-t\(20\%\) {
    margin-top: 30%;
  }
}

