.leaflet-container {
  height: 400px;
  width: 80%;
  margin: 0 auto;
}

.map {
  position: fixed;
  width: 70vw;
  bottom: 0;
  right: 0;
  left: calc(100vw - 63vw);
}

@media (max-width: 620px) {
  .leaflet-container {
    height: 400px;
    width: 100%;
    
  }
  .map {
    position: relative;
    width: 80%;
    height: 300px;
    margin-bottom: 300px;
    left: 0;
    margin-right: 10%;
    z-index: 1;
  }
}